<ion-content>
  <ion-grid style="padding: 8px">
    <ion-row>
      <p style="margin: 8px; font-size: 24px;">Friends</p>
      <ion-col size="10" offset="1">
        <div class="search_box">
          <input type="text"[(ngModel)]="searchQuery" placeholder="e.g. John Thor" [formControl]="formControl" />
        </div>
        <div *ngFor="let friend of friends | appFilter: searchQuery" class="friendSection">
          <div class="user">
            <div style="display: flex; align-items: center;">
              <ion-avatar style="width: 40px;  height: 40px;">
                <img src="{{ friend.photo }}" />
              </ion-avatar>
              <ion-label style="margin-left: 20px">{{ friend.name }}</ion-label>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
