<ion-content>
  <ion-grid style="padding: 8px">
    <ion-row>
      <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 8px; width: 100%;">
        <p style="font-size: 24px; margin: 8px">Friends</p>
        <ion-icon (click)="goToAddPage()" style="margin-right: 8px;" name="person-add-outline" size="large"></ion-icon>
      </div>
      <ion-col size="10" offset="1">
        <div class="search_box">
          <input type="text"[(ngModel)]="searchQuery" placeholder="e.g. John Thor" [formControl]="formControl" />
        </div>
        <div *ngFor="let friend of friends | appFilter: searchQuery" class="friendSection">
          <div class="user">
            <div style="display: flex; align-items: center;">
              <ion-avatar style="width: 40px;  height: 40px;">
                <img src="{{ friend.photo }}" />
              </ion-avatar>
              <ion-label style="margin-left: 20px">{{ friend.name }}</ion-label>
            </div>
            <ion-icon (click)="deleteFriend(friend)" name="trash-outline" size="large" style="color: red"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
