<ion-tabs>
  <ion-tab-bar class="my-custom-tab-bar" slot="bottom">
    <ion-tab-button tab="friend">
      <ion-label>Friends</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-label>Map</ion-label>
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
